In [105]:
setwd ("/Users/ruyazhang/downloads")

In [106]:
dat1 <- read.csv("Medicare90791.csv")

In [5]:
# group by state  use R or excel    use one code    aggregate service   to different state    gun violence study

#var <- c(“State”, “HPCODe”, …)

#BK_data_step)a_112219
#aggregate (. ~ State, dfmort[-2], sum, na.omit=T)

#automatic API

#result less than a month
#checkin weekly
#one code

In [97]:
vars <- c("State")

In [98]:
medicare1 <- dat1[,vars]

In [101]:
summary(medicare1)

  AE   AK   AL   AR   AZ   CA   CO   CT   DC   DE   FL   GA   HI   IA   ID   IL
   2   20  135  205  228 1210  269  330   26   80 1293  353   30  209  131  791
  IN   KS   KY   LA   MA   MD   ME   MI   MN   MO   MS   MT   NC   ND   NE   NH
 472  192  219  180  822  422  162  771  488  288   93   62  805   59  103  127
  NJ   NM   NV   NY   OH   OK   OR   PA   PR   RI   SC   SD   TN   TX   UT   VA
 573  108   79 1192  686  161  175  859   10   99  226   55  324  996   93  462
  VI   VT   WA   WI   WV   WY   ZZ
   1   66  257  411   71   39    1

In [102]:
attach(dat1)

In [114]:
#aggregate(dat1$NumberServices, by=list(State=dat1$State), FUN=sum)

In [113]:
aggregate(NumberServices ~ State, dat1, sum)

   State NumberServices
1  AE      158.0
2  AK      413.0
3  AL     7776.0
4  AR     7105.0
5  AZ     8856.0
6  CA    64246.0
7  CO     8227.0
8  CT    14685.0
9  DC     1479.0
10 DE     2996.0
11 FL    59269.0
12 GA    16984.0
13 HI     1041.0
14 IA     6213.0
15 ID     3321.0
16 IL    33424.0
17 IN    20420.0
18 KS     6730.0
19 KY     8050.0
20 LA     7901.0
21 MA    31611.0
22 MD    19657.0
23 ME     4799.0
24 MI    31921.0
25 MN    12086.0
26 MO    11106.0
27 MS     4792.0
28 MT     1774.0
29 NC    29797.0
30 ND     1529.0
31 NE     3051.0
32 NH     5032.0
33 NJ    32164.0
34 NM     3089.0
35 NV     2687.0
36 NY    52494.0
37 OH    26159.6
38 OK     7625.0
39 OR     4517.0
40 PA    36592.0
41 PR      208.0
42 RI     3706.0
43 SC     9695.0
44 SD     1412.0
45 TN    15588.0
46 TX    52123.0
47 UT     2953.0
48 VA    18079.0
49 VI       28.0
50 VT     1547.0
51 WA     8832.0
52 WI    11245.0
53 WV     3024.0
54 WY     1003.0
55 ZZ       20.0

In [116]:
aggdata <- aggregate(NumberServices ~ State, dat1, sum)

In [118]:
aggdata[order(aggdata$NumberServices),]

   State NumberServices
55 ZZ       20.0
49 VI       28.0
1  AE      158.0
41 PR      208.0
2  AK      413.0
54 WY     1003.0
13 HI     1041.0
44 SD     1412.0
9  DC     1479.0
30 ND     1529.0
50 VT     1547.0
28 MT     1774.0
35 NV     2687.0
47 UT     2953.0
10 DE     2996.0
53 WV     3024.0
31 NE     3051.0
34 NM     3089.0
15 ID     3321.0
42 RI     3706.0
39 OR     4517.0
27 MS     4792.0
23 ME     4799.0
32 NH     5032.0
14 IA     6213.0
18 KS     6730.0
4  AR     7105.0
38 OK     7625.0
3  AL     7776.0
20 LA     7901.0
19 KY     8050.0
7  CO     8227.0
51 WA     8832.0
5  AZ     8856.0
43 SC     9695.0
26 MO    11106.0
52 WI    11245.0
25 MN    12086.0
8  CT    14685.0
45 TN    15588.0
12 GA    16984.0
48 VA    18079.0
22 MD    19657.0
17 IN    20420.0
37 OH    26159.6
29 NC    29797.0
21 MA    31611.0
24 MI    31921.0
33 NJ    32164.0
16 IL    33424.0
40 PA    36592.0
46 TX    52123.0
36 NY    52494.0
11 FL    59269.0
6  CA    64246.0